/* =============
    Typography
============= */
body{
   
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

p{
    padding: 0;
    margin: 0;
}

#nav-container{
    
}

header{
    
    .outer{
        display: grid;
        grid-template-columns: 30% auto;
        line-height: 19px;
    }

    .hr{
        font-family: 'Gin', serif;
        font-size: 18pt;
        letter-spacing: 5.2px;
 
    }

    .hr2{
        font-family: 'Gin', serif;
        font-size: 14pt;

    }

    .hr3{
        font-family: 'Gin', serif;
        font-size: 18pt;

    }
}
