/* =============
    Section 1
============= */
#section-1{
    margin: none;
    background-color: $light-yellow;
    padding-bottom: 45px;
    width: 100%;
    padding-top: 20px;
    
    #section-1-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "Philly Philly Philly Philly" "established established twenty twenty" ". . . .";

        section{
            #section-1-content{
                padding-top: 250px;
                margin: 5px;
                
                h1{
                    grid-area: Philly;

                  }
                  h2{
                    grid-area: established;
                    padding-top: 15px;
                    
                  }
                   h3{
                    grid-area: twenty;
                  }
                  
                
            }
        }
        
        background-image: url('../img/section-1/Beer.png');
        background-size: cover;
        width: 320px;
        height: 337px;
        @include md{
            width: 100%;
            height: 513px;
        }
    }

    #section-1-container2{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: ". section-1 .";
        padding-top: 15px;
        padding-bottom: 15px;


        img{
            padding-top: 18px;
            padding-left: 10px;
            grid-area: section-1;
            
        }


        p{
            padding-top: 20px;
            grid-area: section-1;

        }
    }

    #pictures{
        img{
            width: 320px;
            margin-top: 25px;   
        }
    }

    
}
   