/* =============
    Header
============= */
header{
    background-color: $yellow;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: none;
   

    div{
        // display: grid;
        // grid-template-columns: 50px 50px auto 50px 50px;
        // grid-template-areas: "star, website, PB, burger"
        //                         "nav nav nav nav";
        // display: grid;
        // grid-template-columns: 1fr 1fr 1fr;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas: "star website PB burger" ". . . ." ". . . .";
        
          
        


        .outer{
            display: grid;
            grid-template-columns: 100% auto;
            grid-area: website;
            h1{
                color: $red;

            }
            
            
        }

        img{
            width: 20px;
            grid-area: star;
            padding-left: 10px;
            padding-top: 20px;
        }

        section,
        nav{
            padding: 20px;
        }

        #burger-container{
            align-items: center;
            display: flex;
            grid-area: burger;
            justify-content: flex-end;

            @include md{
                display: none;
            }
            i{
                cursor: pointer;
            }
        }

        #nav-container{
            background-color: $red;
            grid-area: nav;
            display: none;

            @include md{
                display: block;
            }
        }

        section{
            i{
                color: $blue;
                font-size: 30px;
            }
        }

        aside{
            grid-area: PB;
            img{
                width: 95px;
                padding-top: 0;
                
            }
        }
            

    }

}